extends layout

block content
  h1= title
  form#formAddUser.form(name="addUser",method="post",action="/adduser")
    input#inputUserName.input-sm(type="text", placeholder="UserName", name="username")
    input#inputUserEmail.input-sm(type="text", placeholder="UserEmail", name="useremail")
    button#btnSubmit.btn(type="submit") Submit
